global:
  scrape_interval:     15s
  evaluation_interval: 15s
  # scrape_timeout is set to the global default (10s).

  external_labels:
      monitor: 'my-machine'

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
         - targets: ['localhost:9090']
  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
         - targets: ['cadvisor:8080']
  - job_name: 'traefik'
    scrape_interval: 5s
    static_configs:
         - targets: ['traefik:8080']
  - job_name: 'node-exporter'
    scrape_interval: 5s
    static_configs:
         - targets: ['node-exporter:9100']
